




:root {
    --fundo: #08080b;
    --fundo-card: #111116;
    --fundo-card-2: #15151c;

    --branco: #f5f5f7;
    --cinza: #9696a3;
    --cinza-escuro: #666672;

    --roxo: #8b5cf6;
    --roxo-claro: #a855f7;

    --borda: #25252e;
}