

:root {
  /* Fundo e Superfícies */
  --bg-main: #0b0c10;
  --bg-card: #1f2833;
  --border-color: rgba(102, 252, 241, 0.15);

  /* Acentos e Neons */
  --accent-primary: #66fcf1;   /* Ciano/Verde Neon principal */
  --accent-secondary: #45a29e; /* Verde Matrix para bordas e hovers */
  --glow-color: rgba(102, 252, 241, 0.3);

  /* Textos */
  --text-main: #ffffff;
  --text-muted: #c5c6c7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    position: relative;
    overflow-x: hidden;

   
}

header {
    width: 100%;
    position: fixed;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(1px);
    background-color: rgba(10, 10, 15, 0.75);
    border-bottom: 1px solid var(--accent-primary);
    height: 70px;
    z-index: 999;
      
  
    
}

header h1 {
    color: var(--accent-primary);
    font-size: 35px;
    margin-left: 100px;
}



nav {
    text-align: center;
}

nav a {
    color: rgb(199, 197, 197);
    padding: 10px;
    text-decoration: none;
    transition: 1s;
    border-radius: 20px;

}

nav a:hover {
    background-color: var(--accent-primary);
}

main {
    max-width: 900px;
    margin: auto;
    font-weight: bold;
   
}

main section {
    margin-top: 60px;
}





.Sobre {
    width: 400px;
    padding: 5px;
    border-radius: 20px;
    background-color: #2a2a2a;
    margin: auto;
    text-align: center;
    

}

.Sobre2 {
    font-family: 'Montserrat', sans-serif;
   color: #ffffff;            
  font-size: 2.5rem;         
  font-weight: 900;         
  letter-spacing: 1.5px;      
   text-transform: uppercase;  
  text-align: center;
  max-width: 800px;
   margin: auto; 
}

.Sobre3 {
    font-family: 'Montserrat', sans-serif;
   color: #ffffff;            
  font-size: 2.5rem;         
  font-weight: 900;         
  letter-spacing: 1.5px;      
  text-transform: uppercase;  
  text-align: center;
  max-width: 800px;
   margin: auto;
}



.Sobre2 span {
   background-color: var(--accent-secondary);
}

.glow-orb {
    position: absolute;
    width: 600px;
    height: 600px;
    background: var(--accent-primary);
    border-radius: 50%;
    opacity: 0.25;
    filter: blur(150px);
    z-index: 0;
    pointer-events: none;

}

.glow-orb2 {
    position: absolute;
    width: 600px;
    height: 600px;
    background: var(--accent-primary);
    border-radius: 50%;
    opacity: 0.25;
    filter: blur(150px);
    z-index: 0;
    pointer-events: none;

    top: 40px;
    left: 60%;

}

img {
    width: 400px;
}


.Slide-Vitrene {
    width: 100%;
    overflow: hidden;
    background: var(black);
    padding: 2rem 0;
}

.Slider {
    display: flex;
    width: calc(250px * 8);
    animation: girarDireita 10s linear infinite;
}

.SLIDERES {
    
    box-shadow: 1px 2px 12px 5px #66fcf1;
    color: white;
    border: 1px solid black;
    border-radius: 40px;
    padding: 1.5rem;
    margin: 0 60px;
    font-weight: bold;
    text-align: center;
}

@keyframes girarDireita {
0% {
    transform: translateX(-50%);


}

100% {
    transform: translateX(0);
}
}

.Card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 30px;
    max-width: 150%;
}

.Cards {
     background-color: var(--bg-main);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    transition: 1s;
    border: 1px solid rgba(255, 255, 255, .05);
    transition: 0.5s;
}

.Cards:hover {
    transform: translateY(40px);
    border-color: var(--accent-primary);
    box-shadow: 0 20px 45px var(--Cor003);
}

.Cards img {
    width: 200px;
   
}

.Store {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 30px;
    max-width: 150%;
}

.Stores {
     background-color: var(--bg-main);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    transition: 1s;
    border: 1px solid rgba(255, 255, 255, .05);
    transition: 0.5s;
    margin-top: 20px;
}

.Stores:hover {
    transform: translateX(40px);
    border: 1px solid var(--accent-secondary);
}

.botao {
    margin-top: 40px;
    transition: 0.5s;
}
.botao a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 20px;
    background: black;
    padding: 20px;
   box-shadow: 1px 1px 19px 3px #66fcf1;
}

.botao:hover {
    transform: translateY(40px);
}

.Depoimento {
    width: 100%;
    overflow: hidden;
    background: var(black);
    padding: 2rem 0;
}

.Depoimento-msg {
     display: flex;
    width: calc(250px * 8);
    animation: girarDireita 10s linear infinite;
}

.Depoimentos {
      box-shadow: 1px 2px 12px 5px #66fcf1;
    color: white;
    border: 1px solid black;
    border-radius: 40px;
    padding: 1.5rem;
    margin: 0 60px;
    font-weight: bold;
    text-align: center;
}

.Depoimentos img {
      height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 10px;
}


footer {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
}






/* =========================
   RESPONSIVIDADE CELULAR
========================= */

