body {
   background-image: linear-gradient(to right,  #0D0D0D, #1A1A1A);

}

header {
    text-align: center;
    color: white;
    max-width: 1000px;
    margin: auto;
    border-radius: 40px;
    box-shadow: 4px 4px 4px 4px rgb(10, 24, 175);
    padding: 10px;

  

}

h1 {
   text-shadow: 2px 1px 16px white;
}

nav >a {
   color: white;
   text-decoration: none;
   max-width: 100%;
   padding: 3px;
   border-radius: 40px;
   transition-duration: 1s;
}

nav >a:hover {
   background-color: blue;
   transition-duration: 4s;

   
}


.Sobre {
   color: white;
   text-align: justify;
   text-align: center;
   margin-top: 40px;
}

main {
   color: white;
   text-align: justify;
   text-indent: 4px;
   text-align: center;
}


img {
   
   max-width: 100%;
   width: 300px;
   border: 6px solid rgb(42, 28, 105);
   border-radius: 40px;
   padding: 10px;
   height: 300px;
   box-shadow: 2px 3px 20px 3px rgb(42, 28, 105) ;
   margin: 6px 21px 17px 18px;
}


.Imagens {
   text-align: center;
   display: block;
   max-width: 100%;
   margin-top: 20px;
}